# Python binaries
*.pyc
*.pyo
*__pycache__*

# hidden files garbage
*~
.fuse*

# ab-initio/doc build files and example results
*EIG
*DDB
*.pdf
lsf.*
build
status.txt
HgTe_strain*
scf_files
res_pickle.txt
examples/tb/results
examples/fp/**/results
examples/fp/Bi_qe/scf
examples/fp/Bi_qe/input/bi.win
examples/fp/Bi2Se3_qe/scf
examples/fp/Bi2Se3_qe/input/bi2se3.win
# VASP license
POTCAR 
# to work with old git on Brutus
tests/samples/vasp/POTCAR

# Installation/setup related
dist
*egg**
MANIFEST
*.tar.gz
files*.txt

# ignoring the ptools git
z2pack/ptools/.git
z2pack/ptools/.gitignore

# selectively choose ptools
z2pack/ptools/*.py
!z2pack/ptools/__init__.py  
!z2pack/ptools/csv_parser.py  
!z2pack/ptools/parse_dict.py  
!z2pack/ptools/string_tools.py  
!z2pack/ptools/logger.py

# debug folder
debug

# testing files from Brutus
lsf.*
test_log.txt
decorator.py
