# testing virtualenv
venv
venv*

# Python binaries
*.pyc
*.pyo
*__pycache__*

# hidden files garbage
*~
.fuse*

# ab-initio/doc build files and example results
*EIG
*DDB
*.pdf
lsf.*
build
status.txt
HgTe_strain*
scf_files
res_pickle.txt
examples/tb/results
examples/fp/**/results
examples/fp/Bi2Se3_qe/scf
examples/fp/Bi2Se3_qe/input/bi2se3.win
# VASP license
POTCAR 
# to work with old git on Brutus
tests/samples/vasp/POTCAR
examples/fp/Bi_vasp/input/POTCAR

# Installation/setup related
dist
*egg**
MANIFEST
*.tar.gz
files*.txt

# ignoring the _ptools git
z2pack/_ptools/.git
z2pack/_ptools/.gitignore

# selectively choose _ptools
z2pack/_ptools/*

# debug folder
debug

# testing files from Brutus
lsf.*
test_log.txt
decorator.py

# pytest caches
tests/.pytest_cache
.pytest_cache/v/cache
# "do not commit this to version control" -- don't tell me what to do :)
!.pytest_cache/v/test_*
.coverage
.coverage*
htmlcov
