**/*.pyc
*__pycache__*
*.in~
*~
src/python_tools/.git
src/python_tools/.gitignore
build
website/venv
quasi_2D.txt
**/scf_files
.fuse*
old
src/python_tools/progressbar.py
src/python_tools/py2tex.py
src/python_tools/debug.py
*.pdf
doc/build
examples/tb/results/*
