qe_5_4_dir : /home/greschd/software/espresso-5.4.0/bin/
qe_6_0_dir : /home/greschd/software/qe-6.0/bin/
qe_6_2_dir : /home/greschd/software/qe-6.2/bin
wannier_2_1_dir : /home/greschd/software/wannier90-2.1.0
