{% extends "layout.html" %}
{% block body %}
    <h1>Tight-binding topological invariants calculator</h1>
        <form method="post">
            <h2>reduced unit cell coordinates:</h2>
            a<sub>1</sub> 
            <input type="text" name = "a1_x">
            <input type="text" name = "a1_y">
            <input type="text" name = "a1_z"><br/>
            a<sub>2</sub> 
            <input type="text" name = "a2_x">
            <input type="text" name = "a2_y">
            <input type="text" name = "a2_z"><br/>
            a<sub>3</sub> 
            <input type="text" name = "a3_x">
            <input type="text" name = "a3_y">
            <input type="text" name = "a3_z"><br/>
            <h2>atom positions</h2>
        <p>
            positions as multiple of the primitive vectors a1, a2, a3
        </p>
        <hr/>
        <input type="button" value="add atom" onClick="addAtom('atomPosTable');">        
        <input type="button" value="remove atom" onClick="removeAtom('atomPosTable');">
        <table id="atomPosTable">
            <tr>
                <td>atom # </td>
                <td>x-coord.  </td>
                <td>y-coord.  </td>
                <td>z-coord.  </td>
                <td># orbitals  </td>
                <td># electrons  </td>
            </tr>
        </table>
        <p>
            <input type="button" value=">>" onClick="createOverlapInput()">
        </p>
        <div id="overlapInput">
        </div>
        <p>
            <input type="submit" value="start calculation">
        </p>
    
    <!--SCRIPTS-->
    <script>
        var counter = 0;
        addAtom("atomPosTable");
        var limit = 20;
        function addAtom(tableName){
             if (counter == limit)  {
                  alert("You have reached the limit of adding " + counter + " atoms");
             }
             else {
                  counter++;
                  var table = document.getElementById(tableName);
                  var row = table.insertRow(-1);
                  var cell1 = row.insertCell(-1);
                  var cell2 = row.insertCell(-1);
                  var cell3 = row.insertCell(-1);
                  var cell4 = row.insertCell(-1);
                  var cell5 = row.insertCell(-1);
                  var cell6 = row.insertCell(-1);
                  cell1.innerHTML = counter;
                  var coordinput = "<input type='text' size='3' name='atompos_" + counter;
                  cell2.innerHTML = coordinput + "_x'>";
                  cell3.innerHTML = coordinput + "_y'>";
                  cell4.innerHTML = coordinput + "_z'> ";
                  cell5.innerHTML = "<input type='number' min='1' size='3' name='orbitals_" + counter + " '>";
                  cell6.innerHTML = "<input type='number' min='1' size='3' name='electrons_" + counter + "'>";
             }
        }
        function removeAtom(tableName){
            if (counter == 1) {
                alert("At least one atom per unit cell needed");
            }
            else {
                var table = document.getElementById(tableName);
                table.deleteRow(-1);
                counter--;
            }
        }
    </script>
{% endblock %}
