{% extends "layout.html" %}
{% block body %}
    <p>
        Oops! This feature is not yet implemented :(
    </p>
    <!--ajax example-->
    <script type=text/javascript>
      $(function() {
        $("#submitBtn").click(function() {
                $.ajax({
                    type: "GET",
                    url: $SCRIPT_ROOT + "/echo/",
                    contentType: "application/json; charset=utf-8",
                    data: { echoValue: $('input[name="echoText"]').val() },
                    success: function(data) {
                        $('#echoResult').text(data.value);
                }
            });     
        });
      });
    </script>
    <strong>Enter a value to echo back:</strong>
    <input type='text' size='10' id='echoText' name='echoText'>
    <button type='button' id='submitBtn' name='submitBtn'>Submit via AJAX</button><br /><br />
    <strong><div id='echoResult'></div></strong>
{% endblock %}
