{% extends "layout.html" %}
{% block body %}
<h1 id="dismiss">User Guide</h1>
    <p>
        This is the User Guide for the Z2Pack <strong>Python</strong> package.
        Since this is the underlying library for Z2Pack online, it can be used
        as a reference for the advanced options available. If you need help 
        with Z2Pack online specifically, please refer to the 
        <a href = "TODO">Tutorial</a>.
    </p>
    <div class='to_ToC'>
    <h1 id="core">Z2Pack Core</h1>
        <h2 id="overview">Overview</h2>
        <h2 id="getting">Getting the Z2Pack Python package</h2>
            The Z2Pack Python package is available on  <a href = "TODO">GitHub</a>.
            As of now, there is no installable version, but you can easily include
            the package from any Python script by adding the following to your file:<br/><br/>
            <code>  import sys <br/>
                    sys.path.append("path_to_package/src/") <br/>
                    import z2pack</code><br/>
        <h2 id='system_object'>The <code class='heading'>system</code> object</h2>
        <h2 id='plane_object'>The <code class='heading'>plane</code> object</h2>
            <h3>Variables</h3>
            <h3>Methods</h3>
    <h1 id="abinit">ZPack for ABINIT</h1>
        <h2 id="setup">Setting up ABINIT for Z2Pack</h2>
                <p>
                    In order for Z2Pack to work with ABINIT, we need an ABINIT 
                    installation with a modified version of the Wannier90 fallback.
                    The can be achieved with the following steps:
                </p>
            <h3>Step 1</h3>
                <p>
                    <form action="/downloads/wannier90-1.2.0.1.tar.gz" method="GET">
                        Download the modified Wannier90 source.
                        <input type="submit" value="Download"/>
                    </form>
                    Move the source to the tarball directory of your ABINIT 
                    installation (usually <code>~/.abinit/tarballs</code>). 
                    <div class="highlight">
                        <strong>Warning:</strong> <br/>This will break your 
                        Wannier90/ABINIT installation. If you intend to use ABINIT
                        with Wannier90 apart from Z2Pack, you may want to 
                        create a second ABINIT installation. Make sure you
                        also use a different tarball directory.
                    </div>
                </p>
            <h3>Step 2</h3>
                <p>
                    Next, we need to change the checksum ABINIT expects from
                    the Wannier90 source:
                    <ol>
                        <li>
                            Get the md5sum for both the original Wannier90
                            source and the modified source. On a LINUX machine,
                            you can check for the md5sum with the command 
                            <code>md5sum filename</code>.
                        </li>
                        <li>
                            Go to your ABINIT source folder and open the file
                            <code> fallbacks/configure</code>. Search and replace
                            every instance of the old checksum with the new one.
                            You should find 2 checksums to replace. 
                        </li>
                    </ol>
                </p>
            <h3>Step 3</h3>
                <p>
                    Build ABINIT with Wannier90 enabled. If any of the previous 
                    steps were not done correctly, the installation will get stuck
                    trying to download Wannier90. 
                </p>
            <h3>Step 4</h3>
                When using Z2Pack, make sure you are using the right value for <code>abinit_command</code>, especially if you created a second ABINIT installation. For details check out the <a href = "#z2pack.abinit">z2pack.abinit</a> section.
        <h2 id='steps'>Steps of a Z2Pack ABINIT calculation</h2>
            Any Z2Pack calculation with ABINIT consists of 2 steps: 
            <ol>
                <li><strong>SCF run</strong> <br/>
                This is a regular ABINIT run. It produces a density file which will serve as input in the next step.</li>
                <li><strong>WCC calculation</strong><br/>
                Given a plane in reciprocal space, Z2Pack creates strings along a certain direction in the plane for which the Wannier charge centers will be computed using an ABINIT / Wannier90 call.
                </li>
            </ol>
            While the SCF run has to be performed only once for a given system, the WCC calculation needs to be done for each plane in the unit cell for which the Z2 topological invariant should be computed.
                
        <h2 id='Bi'>A first example: Bismuth</h2>
            This example provides a tutorial how to create a basic Z2Pack calculation. The corresponding files can be found at <code>path_to_package/examples/Bi</code>.
            <h3>Creating the input files</h3>
                We will need 3 input files for this calculation:
                <ol>
                    <li><code>Bi_common.in</code> - contains the structure of Bi</li>
                    <li><code>Bi_scf.in</code> - contains input variables for the SCF run</li>
                    <li>A pseudopotential file</li>
                </ol>
                <p> <strong><code>Bi_common.in</code></strong><br/>
                    The first file is an ABINIT input file. However, it does not contain a complete ABINIT input, but only the variables we want to have in all our calculations (SCF and NSCF). Most importantly, the variables defining the k-points should <strong>not</strong> be in this file.
                </p>
                <p>
                    <strong><code>Bi_scf.in</code></strong><br/>
                    The second file contains the ABINIT input variables meant for the SCF run only. Here, one should specify the <strong> k-points </strong> and the energy convergence variable (<strong>toldfe</strong>), which is only valid for SCF runs. The output of a density file will always be enforced (<strong>prtden = 1</strong> automatically), since it is necessary for the second step.
                </p>
                <p>
                    <strong>Pseudopotential file</strong><br/>
                    Finally, we need a pseudopotential file for Bismuth. Since we might want to use the same pseudopotential later, it might be better to put it in a separate folder, for example <code>path_to_package/examples/Psps</code>.
                </p>
            <h3>Creating a <code class='heading'>z2pack.abinit</code> object</h3>
                Given the three input files, we are ready to start our Python script. Let's call it <code>Bi.py</code>. To get started, we should import the Z2Pack package: <br/><br/>
                <code>  import sys <br/>
                sys.path.append("path_to_package/src/") <br/>
                import z2pack</code><br/><br/>
                Since the Z2Pack calculation will generate a few files, we might want to create a <code>build</code> subfolder to call it from. We should keep this in mind in the following steps. <br/>
                The <code>z2pack.abinit</code> class is derived from the <code>z2pack.system</code> class and requires the following arguments: 
                <ol>
                    <li>A name for the system</li>
                    <li>The path to the <code>common</code> input file</li>
                    <li>The path to the pseudopotential file(s), given as a list of paths if there is more than one pseudopotential file</li>
                    <li>The path to the <code>build</code> folder</li>
                    <li>The number of occupied bands (number of electrons per unit cell)</li>
                </ol>
                You will most likely have to change the keyword argument <strong>abinit_command</strong>. This should be the command used to call ABINIT. In the example file, ABINIT is run on 7 threads using MPI (<code>mpirun -np 7 abinit</code>). Its default value is <code><strong>abinit</strong></code><br/>
                Other such keyword arguments can be given, see the <a href = "#TODO">z2pack.abinit documentation</a> for details. <br/>
                Finally, the constructor for the <code>z2pack.abinit</code> object will look like this:
                <br/><br/>
                <code> Bi = z2pack.abinit( "Bi",
                    "Bi_common.in",
                    "../Psps/83bi.5.hgh",
                    "./build",
                    10, 
                    abinit_command = "mpirun -np 7 abinit")
                </code>
            <h3>SCF run</h3>
                For the SCF run, only the path the the <code>scf</code> input file is required. If you want to run the SCF computation separately (for example on a cluster), you can use the keyword <code>setup_only = True</code>. This will only create the input files for ABINIT, after which you can start the SCF run manually. 
            <h3> Creating a <code class='heading'>z2pack.plane</code> object</h3>
                <div class='highlight'>
                    <strong>Hint:</strong><br/>
                    The following steps are not specific to Z2Pack for ABINIT, but can be applied to any kind of Z2Pack computation.
                </div>
            <h3>WCC calculation</h3>
                Calculating the Wannier charge centers is simple: <br/><br/>
                <code>Bi.wcc_calc()</code><br/><br/>
                Experienced users might want to look into the different <a href = "TODO">convergence options</a>.
        <h2 id='List of variables'> The z2pack.abinit class </h2>
    </div>

    <script src="/static/ToC.js"></script>
{% endblock %}
