{% extends "layout.html" %}
{% block body %}
    <h1>Welcome to Z2Pack online!</h1>
    <p>
        Check out the <a href = "http://www.github.com/greschd">Z2Pack Pyhton package</a> for additional features, especially ab-initio calculations. 
    </p>
    <p>
        <!--TODO-->
        New here? Take a look at the <a href = "TODO">Tutorial</a> or the
        <a href = "/user_guide"> User Guide</a> first!
    </p>
    <h2>Get started:</h2>
    <p>
        <input type="submit" class="welcome" value="create new calculation"\
        onclick="window.location='/input';" width="100"/>
        <!--TODO-->
        <input type="submit" class="welcome" value="use saved input"\
        onclick="window.location='/not_implemented';" width="20"/>
    </p>
{% endblock %}
