body            { font-family: Ubuntu; background: #eee; }
a, h1, h2       { color: #750000; }
h1, h2          { font-family: 'Ubuntu', serif; margin-bottom: 10px;}
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }
h3              { font-size}
hr              { display: block; height: 2px; border: 0; 
                border-top: 2px solid #eee; margin-top: 2px; padding: 0; }
input.welcome   { width: 200px; }
input.welcome   { width: 200px; }
table           { width: 100%; margin-top: 5px; 
                border: 2px solid #ccc; border-collapse: collapse;  }
code            { font-size: 1.2em; background: #eee }
code.heading    { font-size: 1.3em; background: white}
li              { margin: 0.5em auto; }
.highlight      { margin: 1em auto; border: 5px solid #ccc;
                  padding: 0.8em; background: #eee; }


.page           { margin: 2em auto; width: 50em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }
tr.downloads    { border-bottom:2px solid #eee; }
